
/* ***************** SECTION-ABOUT US ***************** */

/* About us Text */
.about__us-text{
    /* background: blue; */
    width: 100%;
    height: 200px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.about__us-h2{
    font-size: var(--size__h2);
    color: var(--color__a-h1-h2-p);
}
.about__us-p{
    font-size: var(--size__p);
    color: var(--color__a-h1-h2-p);
}

.about__us-container{
    /* background: red; */
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    place-content: center;
    place-items: center;
    text-align: center;
}
.about__us-info{
    /* background: rebeccapurple; */
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-rows: 1fr max-content;
    place-items: center;
    gap: 2em;
}
.about__us-info-show{
    opacity: 1;
    pointer-events: unset;
}
.about__img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about__p{
    color: #7b767f;
}
.about__rol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.name{
    font-size: var(--size__p);
    font-weight: var(--weight-a-p);
    color: var(--color__a-h1-h2-p);
}
.rol{
    color: #525153;
}
.about__us-img-arrow{
    cursor: pointer;
    width: 90%;
    justify-self: center;
}

/* ************ RESPONSIVE ************ */

@media(max-width: 480px){
    .about__us-container{
        /* background: red; */
        grid-template-columns: 25px 1fr 25px;
        width: 90%;

    }
    .about__us-info{
        /* background: rebeccapurple; */
        width: 90%;
    }
    .about__us-img-arrow{
        width: 100%;
    }
}